@import "colors.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "Agave NF";
    font-size: 10pt;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
    color: @on_background;
}

.modules-left {
    border-radius: 2px;
    border: 1px solid white;
    margin-left: 5px;
    background-color: @background;
    padding: 0 5px;
    box-shadow: 0px 0px 2px @shadow;
}

.modules-center {
    border-radius: 2px;
    border: 1px solid white;
    background-color: @background;
    padding: 0 5px;
    box-shadow: 0px 0px 2px @shadow;
}

.modules-right {
    border-radius: 2px;
    border: 1px solid white;
    margin-right: 5px;
    background-color: @background;
    padding: 0 5px;
    box-shadow: 0px 0px 2px @shadow;
}
